.forecast {
  text-align: center;
}

.home {
  text-align: center;
}

.favorite {
  text-align: center;
}

body, html {
  background: black;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

input {
  text-align: center;
  color: white;
}

p {
  font-size: larger;
}